@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.body {
    min-height: 100vh;
    background-color: rgba(245, 236, 236, 1);
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1417px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 13px;
}