@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.body {
  min-height: 100vh;
  background-color: rgb(245, 236, 236);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1417px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 13px;
}

.aside, .navigation, .header__cash, .content {
  display: flex;
  flex-direction: column;
}

.aside {
  background-color: rgb(174, 52, 205);
  max-width: 356px;
  border-radius: 39px;
  padding: 40px;
}
.aside .aside__check-box {
  position: relative;
  padding-bottom: 80px;
}
.aside .aside__img_sun {
  position: absolute;
  top: -25px;
  left: -25px;
}
.aside .navigation {
  gap: 50px;
}
.aside .navigation .navigation__link {
  display: flex;
  align-items: center;
}
.aside .navigation .navigation__link_active {
  background-color: rgb(212, 173, 217);
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
}
.aside .navigation .navigation__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.page-wrap {
  background-color: #D4ADD9;
  color: rgb(57, 6, 70);
  border-radius: 39px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: space-between;
  min-width: 1048px;
}
.header .cash {
  align-items: center;
}
.header .cash .cash__number {
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}
.header .cash .cash__text {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.header .header__wallet {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 100px;
}
.header .header__wallet .wallet__text {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
}

.content {
  gap: 30px;
}

.main {
  padding: 37px 55px 67px 64px;
  flex-grow: 1;
  max-width: 1048px;
}
.main .main__img {
  padding-right: 55px;
}
.main .main__img:first-child {
  padding-left: 0;
}
.main .main__img:last-child {
  padding-right: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer .footer__diagram {
  min-width: 370px;
  padding: 15px;
}
.footer .footer__graphic {
  min-width: 630px;
  padding: 15px;
}
.footer .footer__img {
  display: block;
  margin: 0 auto;
}
.footer .footer__img_circle {
  border: 20px solid rgb(174, 52, 205);
  padding: 7px;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */