@import './reset';
@import './common';

$purple: rgba(174, 52, 205, 1);
$purple-light: #D4ADD9;

%flex-column {
    display: flex;
    flex-direction: column;
}

@mixin font-set ($w, $s, $l) {
    font-weight: $w;
    font-size: $s;
    line-height: $l;
}

//Display Flex

.aside, .navigation, .header__cash, .content {
    @extend %flex-column;
}

////////////////
.aside {
    background-color: $purple;
    max-width: 356px;
    border-radius: 39px;
    padding: 40px;
    .aside__check-box {
       position: relative; 
       padding-bottom: 80px;
    }    
    .aside__img_sun {
        position: absolute;
        top: -25px;
        left: -25px;
    }
    .navigation {
        gap: 50px;
        .navigation__link {
            display: flex;
            align-items: center;
        }
        .navigation__link_active {
            background-color: rgba(212, 173, 217, 1);
            border-top-right-radius: 39px;
            border-bottom-right-radius: 39px;
        }
        .navigation__name{
            @include font-set (400, 30px, 36px)
        }
    }
}

.page-wrap {
    background-color: $purple-light;
    color: rgba(57, 6, 70, 1);
    border-radius: 39px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: space-between;
    min-width: 1048px;
    .cash {
        align-items: center;
        .cash__number {
            @include font-set (800, 60px, 72px);
        }
        .cash__text {
            @include font-set (800, 20px, 24px);
            color: rgba(255, 255, 255, 1);
        }
    }
    .header__wallet {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 100px;
        .wallet__text {
            @include font-set (800, 50px, 60px);
        }
    }
}

.content {
    gap: 30px;
}

.main {
    padding: 37px 55px 67px 64px;
    flex-grow: 1;
    max-width: 1048px;
    .main__img {
        &:first-child {
            padding-left: 0;
        }
        padding-right: 55px;
        &:last-child {
            padding-right: 0;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    .footer__diagram{
        min-width: 370px;
        padding: 15px;  
    }
    .footer__graphic {
        min-width: 630px;
        padding: 15px;
    }
    .footer__img {
        display: block;
        margin: 0 auto;
    }
    .footer__img_circle {
        border: 20px solid $purple;
        padding: 7px;
        border-radius: 50%;
    }
}